<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>E-commerce Website</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg nav-menu bg-dark">
        <button
          class="navbar-toggler nav-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#myNavbar"
        >
          <div class="bg-light line1"></div>
          <div class="bg-light line2"></div>
          <div class="bg-light line3"></div>
        </button>
        <a
          href="#"
          class="navbar-brand text-light text-uppercase mx-lg-2 mx-auto"
        >
          <span class="h2"><i class="fas fa-air-freshener"></i></span>
        </a>
        <div
          class="collapse navbar-collapse justify-content-center text-uppercase fw-bold"
          id="myNavbar"
        >
          <div class="col-10 grp">
            <ul class="navbar-nav m-1 text-light">
              <li class="nav-item">
                <a href="#" id="" active class="nav-link box m-2 menu-item"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a href="#" id="" class="nav-link box m-2 menu-item">Brand</a>
              </li>
              <li class="nav-item">
                <a href="#" id="" class="nav-link box m-2 menu-item"
                  >Category</a
                >
              </li>
              <li class="nav-item">
                <a href="#" id="" class="nav-link box m-2 menu-item">About</a>
              </li>
              <li class="nav-item">
                <a href="#" id="" class="nav-link box m-2 menu-item">Contact</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-2">
            <ul class="navbar-nav float-end">
              <li class="nav-item">
                <a href="#" class="nav-link text-light signup">Sign Up</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- <div class="col-2 col-lg-1 px-1">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-shopping-cart fa-2x" style="color: #fff"></i>
              </a>
            </li>
          </ul>
        </div> -->

        <a
          href="#"
          class="navbar-brand"
          data-bs-toggle="modal"
          data-bs-target="#sign-in"
        >
          <button type="button" class="btn" style="background-color: #318fb5">
            sign in
          </button>
        </a>
        <!-- <a href="#" class="navbar-brand" onclick="">
          <button type="button" class="btn" style="background-color: #318fb5">
            sign out
          </button>
        </a> -->
      </nav>
    </header>

    <div class="modal fade" id="sign-in">
      <form action="">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">sign in</h4>
            </div>
            <div class="modal-body">
              <div class="form-group py-2">
                <label for="email" class="label">Email Address</label>
                <input
                  type="email"
                  class="form-control my-2 p-2 input"
                  name="username"
                />
              </div>
              <div class="form-group py-2">
                <label for="password" class="label">Password</label>
                <input
                  type="password"
                  class="form-control my-2 p-2 input"
                  name="password"
                />
              </div>
            </div>
            <div class="modal-footer justify-content-center">
              <button
                type="submit"
                class="btn"
                style="background-color: #318fb5"
              >
                sign in
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
