<%- include('partials/header') -%>

<h1>Hello from home!</h1>

<div class="text-center background-brand">
  <h1 class="pt-5">Brands</h1>
  <p class="lead pb-5">Choose your product from the brand you like!</p>

  <form action="">
    <div class="input-group mx-auto" style="max-width: 35rem">
      <input
        type="text"
        class="form-control"
        aria-describedby="basic-addon2"
        placeholder="Search for your brand"
        name="brandname"
      />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </div>
    </div>
  </form>
</div>

<div class="row mx-auto">
  <div class="col-6 mx-auto">
    <div class="row">
      <div class="col-md-6 col-lg-4 my-2 p-1">
        <div class="card brand-card">
          <form action="">
            <img
              src="../images/img-2.jpg"
              alt="caio img"
              class="card-img"
              style="max-height: 5rem"
            />
            <div class="card-header">
              <p class="lead">Brand name</p>
              <div class="text-center pt-3">
                <button class="btn btn-primary">Explore</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 my-2 p-1">
        <div class="card brand-card">
          <form action="">
            <img
              src="../images/img-1.jpg"
              alt=""
              class="card-img"
              style="max-height: 5rem"
            />
            <div class="card-header">
              <p class="lead">Brand name</p>
              <div class="text-center pt-3">
                <button class="btn btn-primary">Explore</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 my-2 p-1">
        <div class="card brand-card">
          <form action="">
            <img
              src="../images/img-3.jpg"
              alt=""
              class="card-img"
              style="max-height: 5rem"
            />
            <div class="card-header">
              <p class="lead">Brand name</p>
              <div class="text-center pt-3">
                <button class="btn btn-primary">Explore</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 my-2 p-1">
        <div class="card brand-card">
          <form action="">
            <img
              src="../images/img-4.jpg"
              alt=""
              class="card-img"
              style="max-height: 5rem"
            />
            <div class="card-header">
              <p class="lead">Brand name</p>
              <div class="text-center pt-3">
                <button class="btn btn-primary">Explore</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 my-2 p-1">
        <div class="card brand-card">
          <form action="">
            <img
              src="../images/img-5.jpg"
              alt=""
              class="card-img"
              style="max-height: 5rem"
            />
            <div class="card-header">
              <p class="lead">Brand name</p>
              <div class="text-center pt-3">
                <button class="btn btn-primary">Explore</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 my-2 p-1">
        <div class="card brand-card">
          <form action="">
            <img
              src="../images/img-6.jpg"
              alt=""
              class="card-img"
              style="max-height: 5rem"
            />
            <div class="card-header">
              <p class="lead">Brand name</p>
              <div class="text-center pt-3">
                <button class="btn btn-primary">Explore</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<hr />
<hr />
<hr />
<hr />

<%- include('partials/footer') -%>
