<%- include('partials/header') -%>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-0 col-lg-1"></div>

      <div class="col-6 col-lg-4 align-items-center">
        <img src="../images/img-2.jpg" alt="" style="max-width: 300px" />
      </div>

      <div class="col-lg-1"></div>
      <div class="col-6 col-lg-4">
        <form action="">
          <h2 class="text-info">Item title</h2>
          <p class="small">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At cumque
            exercitationem dolorum temporibus, officiis repellat placeat
            reiciendis natus odio eum excepturi quas hic? Qui harum libero
            nostrum assumenda ipsam saepe.
          </p>
          <p class="h5">Price: <span class="text-secondary">$34</span></p>
          <p><span class="font-weight-bold"> Brand: </span>Johnson</p>
          <p><span class="font-weight-bold"> Category: </span>Shampoo</p>
          <br />
          <div class="row">
            <div class="col-2 mt-2">
              <p class="text-secondary h6">Size</p>
            </div>

            <div class="col-2">
              <p class="lead">200ML</p>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="input-group mb-3">
                <input
                  type="text"
                  name="box"
                  placeholder="Qty"
                  class="form-control"
                />
                <div class="input-group-append">
                  <span class="input-group-text"> Pieces </span>
                </div>
              </div>
            </div>
          </div>

          <div class="my-3">
            <button
              type="submit"
              data-bs-toggle=""
              style="display: inline-block"
              class="btn btn-dark"
            >
              Add To Cart
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer') -%>
