body {
  font-family: sans-serif !important;
}

/* Header */

.navbar-nav > .active > a {
  color: #318fb5;
}

.nav-item > a:hover {
  color: #318fb5;
}

.line1,
.line2,
.line3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all 0.4s;
}

.change .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
  opacity: 0;
}

.change .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-button:focus {
  border-radius: none !important;
}

.menu-item {
  font-size: 16px;
  letter-spacing: 1px;
  color: #eee;
  font-weight: lighter;
  transition: color 0.5s;
}

/* End of Header */

.background-brand {
  background-image: url(../images/background.jpg);
}

/* Products */

.products {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.products li {
  list-style-type: none;
  padding: 0;
  float: 0 1 34rem;
  height: 25rem;
  border-bottom: solid 0.1rem #318fb5;
  margin: 15px 10px 15px 10px;
}

.product {
  display: flex;
  flex-direction: column;
  width: 15rem;
}

.product-name {
  font-weight: bold;
  color: #318fb5;
}

.product-image {
  max-width: 12rem;
  max-height: 12rem;
}

.product-brand {
  color: #808080;
}

.product-price {
  font-weight: bold;
}
